<div class="notebook-card" *ngIf="!(notes$ | async); else notes">
  <mat-card class="no-content-container">
    <mat-card-title>No content🥺</mat-card-title>
    <mat-card-subtitle>add something...</mat-card-subtitle>
    <button mat-fab color="primary" aria-label="add notes button" (click)="openAddDialog()"><mat-icon>add_circle</mat-icon></button>
  </mat-card>
</div>
<ng-template #notes>
  <div class="content-container">
    <button class="mat-fab-button-add" mat-fab color="primary" aria-label="add notes button" (click)="openAddDialog()"><mat-icon>add_circle</mat-icon></button>
    <div *ngFor="let note of (notes$ | async)">
      <app-note-card (click)="openEdit(note)" [item]="note"></app-note-card>
    </div>
  </div>

</ng-template>




