<h1 mat-dialog-title>Edit note</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field floatLabel="always">
      <mat-label>Title</mat-label>
      <input
        formControlName="title"
        matInput
        placeholder="title"
        cdkFocusInitial
      />
      <mat-error *ngIf="formGroup?.get('title')?.hasError('required')"
        >required
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>body</mat-label>
      <textarea
        type="text"
        formControlName="body"
        matInput
        placeholder="..."
      ></textarea>
      <mat-error *ngIf="formGroup.get('body').hasError('required')"
        >required
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>Cancel</button>
  <button type="button" mat-button color="warn" (click)="onDelete()">
    Delete
  </button>
  <button
    mat-button
    [disabled]="formGroup.invalid || formGroup.untouched"
    type="submit"
    (click)="onSubmit()"
    color="primary"
  >
    Update
  </button>
</div>
