<mat-toolbar
><span>Capstone😎</span>

  <a mat-button routerLinkActive="mat-accent" routerLink="home">My info</a>
  <a mat-button routerLinkActive="mat-accent" routerLink="calendar">Calendar</a>
  <a mat-button routerLinkActive="mat-accent" routerLink="notes">Notes</a>
  <span class="spacer"></span>
  <span *ngIf="userData$ | async">Hey {{(userData$ | async).email}}</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="(userData$ | async); else signInMenu" mat-menu-item (click)="openLogoutDialog()">Sign Out</button>
    <ng-template #signInMenu>
      <button mat-menu-item (click)="openRegisterDialog()">Sign Up</button>
      <button mat-menu-item (click)="openLoginDialog()">Sign In</button>
    </ng-template>


  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
