<h2 mat-dialog-title>Register to access app</h2>
<div mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field floatLabel="always">
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        matInput
        placeholder="email"
        cdkFocusInitial
      />
      <mat-error *ngIf="formGroup?.get('email')?.hasError('required')"
        >email is required</mat-error
      >
      <!--      <mat-error *ngIf="formGroup?.get('email')?.hasError('email')">email is invalid</mat-error>-->
      <mat-error *ngIf="formGroup?.get('email')?.hasError('pattern')"
        >email is invalid</mat-error
      >
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password1" matInput placeholder="Password" />
      <mat-error *ngIf="formGroup.get('password1').hasError('required')"
        >password is required</mat-error
      >
      <mat-error *ngIf="formGroup.get('password1').hasError('minlength')"
        >Password need to be at least 8 characters long</mat-error
      >
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Repeat password</mat-label>
      <input type="password" formControlName="password2" matInput placeholder="Password" />
      <mat-error *ngIf="formGroup.get('password2').hasError('required')"
        >password is required</mat-error
      >
      <mat-error *ngIf="formGroup.get('password2').hasError('minlength')"
        >Password need to be at least 8 characters long</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [disabled]="formGroup.invalid || formGroup.untouched"
    type="submit"
    (click)="onSubmit()"
  >
    Register
  </button>
</div>
